@model IEnumerable<Form>
@{
    ViewBag.Title = "潜在难点库";
}

<div class="clearfix">
    <h4>潜在难点库</h4>
</div>

<div class="row">
    <div class="col-lg-8">
        <section class="panel">
            <header class="panel-heading">
                潜在难点库 <a href="?raw=true" style="float:right">导出</a>
            </header>
            <div class="pull-out m-t-small" style="overflow-x: auto;white-space:nowrap; text-overflow:ellipsis;">
                <table class="table table-striped b-t text-small">
                    <thead>
                        <tr>
                            @foreach (var x in ChinaTower.StationPlanning.Controllers.FormController.HeaderOfD)
                            {
                                <th>@x</th>
                            }
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody class="lst-towers">
                        @foreach (var x in Model)
                        {
                            <tr>
                                @foreach (var y in x.Objects)
                                {
                                    <td>@y</td>
                                }
                                <td>
                                    <a class="btn btn-small btn-info" asp-route-id="@x.Id" asp-controller="Form" asp-action="Edit">编辑</a>
                                    <a class="btn btn-small btn-danger" href="javascript:deleteForm('@x.Id')">删除</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <footer class="panel-footer">
                <div class="row">
                    <div class="col-lg-12 text-right text-center-sm">
                        @Html.MakePager("", "active", "pagination pagination-small m-t-none m-b-none")
                    </div>
                </div>
            </footer>
        </section>
    </div>
    <div class="col-lg-4">
        <section class="panel">
            <header class="panel-heading">
                创建表单
            </header>
            <form asp-action="Insert" asp-controller="Form" asp-route-type="储备库" method="post">
                <table class="edit-tower">
                    @if (User.IsInRole("Member"))
                    {
                        <tr>
                            <td>
                                <select class="form-control" name="city">
                                    @foreach (var x in (await User.Manager.GetClaimsAsync(User.Current)).Where(x => x.Type == "有权限访问地市数据"))
                                    { 
                                        <!option>@x.Value</!option>
                                    }
                                </select>
                            </td>
                        </tr>
                    }
                    @foreach (var x in ChinaTower.StationPlanning.Controllers.FormController.HeaderOfD)
                    {
                        <tr>
                            <td><input type="text" name="text" placeholder="@x" class="form-control" /></td>
                        </tr>
                    }
                </table>
                <br />
                <input class="btn btn-primary" value="创建" type="submit" />
            </form>
        </section>
    </div>
</div>
<form id="frmDeleteForm" asp-action="Delete" asp-controller="Form">
    <input type="hidden" id="formId" name="id" />
</form>
<script>
    function deleteForm(id)
    {
        $('#formId').val(id);
        $('#frmDeleteForm').submit();
    }
</script>
