@model IEnumerable<Form>
@{
    ViewBag.Title = "疑难站址档案";
}

<div class="clearfix">
    <h4>疑难站址档案</h4>
</div>

<div class="row">
    <div class="col-lg-8">
        <section class="panel">
            <header class="panel-heading">
                疑难站址档案 <a href="?raw=true" style="float:right">导出</a>
            </header>
            <div class="pull-out m-t-small" style="overflow-x: auto;white-space:nowrap; text-overflow:ellipsis;">
                <table class="table table-striped b-t text-small">
                    <thead>
                        <tr>
                            @foreach (var x in ChinaTower.StationPlanning.Controllers.FormController.HeaderOfG1)
                            {
                                <th>@x</th>
                            }
                            <th>选址记录</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody class="lst-towers">
                        @foreach (var x in Model)
                        {
                            <tr>
                                @foreach (var y in x.Objects)
                                {
                                    <td>@y</td>
                                }
                                <td>@x.Children.Count</td>
                                <td>
                                    <a class="btn btn-small btn-info" asp-route-id="@x.Id" asp-controller="Form" asp-action="Detail">详情</a>
                                    <a class="btn btn-small btn-info" asp-route-id="@x.Id" asp-controller="Form" asp-action="Edit">编辑</a>
                                    <a class="btn btn-small btn-danger" href="javascript:deleteForm('@x.Id')">删除</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <footer class="panel-footer">
                <div class="row">
                    <div class="col-lg-12 text-right text-center-sm">
                        @Html.MakePager("", "active", "pagination pagination-small m-t-none m-b-none")
                    </div>
                </div>
            </footer>
        </section>
    </div>
    <div class="col-lg-4">
        <div class="row">
            <section class="panel">
                <header class="panel-heading">
                    创建表单
                </header>
                <form asp-action="Insert" asp-controller="Form" asp-route-type="疑难站址档案" method="post">
                    <table class="edit-tower">
                        @if (User.IsInRole("Member"))
                        {
                            <tr>
                                <td>
                                    <select class="form-control" name="city">
                                        @foreach (var x in (await User.Manager.GetClaimsAsync(User.Current)).Where(x => x.Type == "有权限访问地市数据"))
                                        {
                                        <!option>@x.Value</!option>
                                        }
                                    </select>
                                </td>
                            </tr>
                        }
                        @{ 
                            var i = 0;
                        }
                        @foreach (var x in ChinaTower.StationPlanning.Controllers.FormController.HeaderOfG1)
                        {
                            if (i == 0)
                            {
                                <tr>
                                    <td>站址基本信息</td>
                                </tr>
                            }
                            else if (i == 10)
                            {
                                <tr>
                                    <td>站址信息</td>
                                </tr>
                            }
                            else if (i == 14)
                            {
                                <tr>
                                    <td>逐级确认信息</td>
                                </tr>
                                <tr>
                                    <td>区域经理</td>
                                </tr>
                            }
                            else if (i == 16)
                            {
                                <tr>
                                    <td>建设主任</td>
                                </tr>
                            }
                            else if (i == 18)
                            {
                                <tr>
                                    <td>主管建设领导</td>
                                </tr>
                            }
                            <tr>
                                <td><input type="text" name="text" placeholder="@x" class="form-control" /></td>
                            </tr>
                            { i++; }
                        }
                    </table>
                    <br />
                    <input class="btn btn-primary" value="创建" type="submit" />
                </form>
            </section>
        </div>
        <div class="row">
            <section class="panel">
                <header class="panel-heading">
                    导入Excel表格
                </header>
                <form asp-action="G" asp-controller="Form" asp-route-type="疑难站址档案" method="post" enctype="multipart/form-data">
                    <table class="edit-tower">
                        @if (User.IsInRole("Member"))
                        {
                            <tr>
                                <td>
                                    <select class="form-control" name="city">
                                        @foreach (var x in (await User.Manager.GetClaimsAsync(User.Current)).Where(x => x.Type == "有权限访问地市数据"))
                                        {
                                        <!option>@x.Value</!option>
                                        }
                                    </select>
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td><input type="text" name="city" class="form-control" placeholder="城市" /></td>
                            </tr>
                        }
                        <tr>
                            <td>
                                <input type="file" name="file" class="form-control" />
                            </td>
                        </tr>
                    </table>
                    <br />
                    <input class="btn btn-primary" value="导入" type="submit" />
                </form>
            </section>
        </div>
    </div>
</div>
<form id="frmDeleteForm" asp-action="Delete" asp-controller="Form">
    <input type="hidden" id="formId" name="id" />
</form>
<script>
    function deleteForm(id)
    {
        $('#formId').val(id);
        $('#frmDeleteForm').submit();
    }
</script>
