<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title - 中国铁塔基站规划系统</title>
    <meta name="description" content="mobile first, app, web app, responsive, admin dashboard, flat, flat ui">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="~/styles/bootstrap.css">
    <link href="~/styles/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/styles/style.css">
    <link rel="stylesheet" href="~/styles/plugin.css">
    <link rel="stylesheet" href="~/styles/landing.css">
    <script src="~/scripts/jquery.min.js"></script>
    <script src="~/scripts/bootstrap.js"></script>
    <script src="~/scripts/app.js"></script>
    <script src="~/scripts/app.plugin.js"></script>
    <script src="~/scripts/app.data.js"></script>
    <script src="~/scripts/charts/sparkline/jquery.sparkline.min.js"></script>
    <script src="~/scripts/charts/easypiechart/jquery.easy-pie-chart.js"></script>
    <script src="~/scripts/ie/excanvas.js"></script>
    <script src="~/scripts/jquery.autoajax.js"></script>

    <!--[if lt IE 9]>
      <script src="~/scripts/ie/respond.min.js"></script>
      <script src="~/scripts/ie/html5.js"></script>
    <![endif]-->
</head>
<body>
    <!-- header -->
    <header id="header" class="navbar">
        <ul class="nav navbar-nav navbar-avatar pull-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="hidden-sm-only">@User.Current.UserName</span>
                    <span class="thumb-small avatar inline"><img src="@Url.Action("Avatar", "Account", new { id = User.Current.Id })" alt="Mika Sokeil" class="img-circle"></span>
                    <b class="caret hidden-sm-only"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a asp-action="Setting" asp-controller="Account">设置</a></li>
                    <li class="divider"></li>
                    <li><a href="$('#frmLogout').submit()">注销</a></li>
                </ul>
            </li>
        </ul>
        <form asp-action="Logout" asp-controller="Account" method="post" id="frmLogout"></form>
        <a class="navbar-brand" href="#"><img src="~/images/logo.png" /></a>
        <button id="btn-nav" type="button" class="btn btn-link pull-left nav-toggle hidden-lg" data-toggle="class:show" data-target="#nav">
            <i class="fa fa-reorder fa-lg text-default"></i>
        </button>
        <ul class="nav navbar-nav hidden-sm"></ul>
    </header>
    <!-- / header -->
    <!-- nav -->
    <nav id="nav" class="nav-primary visible-lg nav-vertical">
        <ul class="nav" data-spy="affix" data-offset-top="50">
            <li @(ViewContext.RouteData.Values["controller"].ToString() == "Home" ? "class=\"active\"" : "")><a asp-action="Index" asp-controller="Home"><i class="fa-dashboard fa fa-lg"></i>概况</a></li>
            @if (ViewContext.RouteData.Values["controller"].ToString() == "Map" && ViewContext.RouteData.Values["action"].ToString() == "Index")
            {
                <li class="dropdown-submenu active">
                    <a href="#"><i class="fa-map-o fa fa-lg"></i>地图展示</a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="nav-chk">
                                <input id="chkRxlev" checked type="checkbox" onclick="BuildOverlays()" />
                                路测信号
                            </div>
                        </li>
                        <li><div class="nav-chk"><input id="chkNormal" checked type="checkbox" onclick="BuildOverlays()" /> 正常铁塔</div></li>
                        <li><div class="nav-chk"><input id="chkStock" type="checkbox" onclick="BuildOverlays()" /> 储备铁塔</div></li>
                        <li><div class="nav-chk"><input id="chkHard" type="checkbox" onclick="BuildOverlays()" /> 难点铁塔</div></li>
                        <li><div class="nav-chk"><input id="chkPlan" checked type="checkbox" onclick="BuildOverlays()" /> 预选铁塔</div></li>
                        <li><div class="nav-chk"><input id="chkSuggest" type="checkbox" onclick="BuildOverlays()" /> 主动规划铁塔</div></li>
                        <li><div class="nav-chk"><input id="chkShare" type="checkbox" onclick="BuildOverlays()" /> 整合标识</div></li>
                        <li><div class="nav-chk"><input id="chkNewShare" checked type="checkbox" onclick="BuildOverlays()" /> 新建整合标识</div></li>
                        <li><div class="nav-chk"><input id="chkSimulate" type="checkbox" onclick="BuildOverlays()" /> 非预选仿真</div></li>
                        <li><div class="nav-chk"><input id="chkPreSimulate" checked type="checkbox" onclick="BuildOverlays()" /> 预选仿真</div></li>
                        <li><div class="nav-chk"><input id="chkCT" checked type="checkbox" onclick="BuildOverlays()" /> 中国电信</div></li>
                        <li><div class="nav-chk"><input id="chkCM" checked type="checkbox" onclick="BuildOverlays()" /> 中国移动</div></li>
                        <li><div class="nav-chk"><input id="chkCU" checked type="checkbox" onclick="BuildOverlays()" /> 中国联通</div></li>                    
                    </ul>
                </li>
            }
            else
            {
                <li><a asp-action="Index" asp-controller="Map"><i class="fa-map-o fa fa-lg"></i>地图展示</a></li>
            }
            <li @((ViewContext.RouteData.Values["controller"].ToString() == "Tower" && ViewContext.RouteData.Values["action"].ToString() == "Index") ? new HtmlString("class=\"active\"") : HtmlString.Empty)><a asp-action="Index" asp-controller="Tower"><i class="fa-map-signs fa fa-lg"></i>铁塔管理</a></li>
            <li class="dropdown-submenu @(ViewContext.RouteData.Values["action"].ToString() == "Share" || ViewContext.RouteData.Values["action"].ToString() == "NewAP" || ViewContext.RouteData.Values["action"].ToString() == "Suggest" || ViewContext.RouteData.Values["action"].ToString() == "Relation" ? "active" : "")">
                <a href="#"><i class="fa-map-marker fa fa-lg"></i>规划分析</a>
                <ul class="dropdown-menu">
                    <li><a asp-controller="Tower" asp-action="Share">整合分析</a></li>
                    <li><a asp-controller="Tower" asp-action="NewAP">新建分析</a></li>
                    <li><a asp-controller="Tower" asp-action="Suggest">主动规划</a></li>
                    <li><a asp-controller="Tower" asp-action="Relation">关联性分析</a></li>
                </ul>
            </li>
            <li @(ViewContext.RouteData.Values["controller"].ToString() == "Pavement" ? new HtmlString("class=\"active\"") : HtmlString.Empty)><a asp-action="Index" asp-controller="Pavement"><i class="fa-car fa fa-lg"></i>路测分析</a></li>
            <li @(ViewContext.RouteData.Values["controller"].ToString() == "Pano" ? new HtmlString("class=\"active\"") : HtmlString.Empty)><a asp-action="Index" asp-controller="Pano"><i class="fa-camera fa fa-lg"></i>实景勘察</a></li>
            <li class="dropdown-submenu @(ViewContext.RouteData.Values["controller"].ToString() == "Form" ? "active" : "")">
                <a href="#"><i class="fa-edit fa fa-lg"></i>表单信息</a>
                <ul class="dropdown-menu">
                    <li><a asp-controller="Form" asp-action="A">储备库</a></li>
                    <li><a asp-controller="Form" asp-action="B">存量资源</a></li>
                    <li><a asp-controller="Form" asp-action="C">新建站址</a></li>
                    <li><a asp-controller="Form" asp-action="D">潜在难点库</a></li>
                    <li><a asp-controller="Form" asp-action="E">在建难点库</a></li>
                </ul>
            </li>
            @if (User.AnyRoles("Root, Master"))
            {
                <li @(ViewContext.RouteData.Values["controller"].ToString() == "Account" ? new HtmlString("class=\"active\"") : HtmlString.Empty)><a asp-action="Index" asp-controller="Account"><i class="fa-users fa fa-lg"></i>用户管理</a></li>
                <li @(ViewContext.RouteData.Values["controller"].ToString() == "Setting" ? new HtmlString("class=\"active\"") : HtmlString.Empty)><a asp-action="Index" asp-controller="Setting"><i class="fa-cog fa fa-lg"></i>系统管理</a></li>
            }
        </ul>
    </nav>
    <!-- / nav -->
    <section id="content">
        <section class="main padder">
            @RenderBody()
        </section>
    </section>
    <!-- .modal -->
    <div id="modal" class="modal fade">
        <form class="m-b-none">
            <div class="modal-dialog pos-abt" style="margin-top:-235px; top:50%">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa-remove"></i></button>
                        <h4 class="modal-title" id="myModalLabel">Post your first idea</h4>
                    </div>
                    <div class="modal-body">
                        <div class="block">
                            <label class="control-label">Title</label>
                            <input type="text" class="form-control" placeholder="Post title">
                        </div>
                        <div class="block">
                            <label class="control-label">Content</label>
                            <textarea class="form-control" placeholder="Content" rows="5"></textarea>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Share with all memebers of first
                            </label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-small btn-default" data-dismiss="modal">Save</button>
                        <button type="button" class="btn btn-small btn-primary" data-loading-text="Publishing...">Publish</button>
                    </div>
                </div><!-- /.modal-content -->
            </div>
        </form>
    </div>
    <!-- / .modal -->
    <!-- footer -->
    <footer id="footer">
        <div class="text-center padder clearfix">
            <p>
                <small>&copy; 2015 <a href="http://www.codecomb.com">Harbin Code Comb Technology</a>. All right Reserved.</small><br><br>
            </p>
        </div>
    </footer>
    <a href="#" class="hide slide-nav-block" data-toggle="class:slide-nav slide-nav-left" data-target="body"></a>
    <!-- / footer -->
</body>
</html>