@model IEnumerable<Tower>
@{ 
    Layout = null;
}
@foreach (var x in Model)
{
    <tr data-tower="@x.Id" data-status="@x.Status" data-url="@x.Url" data-scene="@x.Scene" data-provider="@x.Provider" data-lon="@x.Lon" data-lat="@x.Lat" data-picture="@Url.Action("Download", "Blob", new { id = x.BlobId })" data-height="@x.Height">
        <td><input type="checkbox" data-id="@x.Id" class="tower-chk" /></td>
        <td class="name">@x.Name</td>
        <td class="city">@x.City</td>
        <td class="district">@x.District</td>
        <td class="address">@x.Address</td>
        <td>@x.Provider</td>
        <td>@x.Scene</td>
        <td class="type">@x.Type</td>
        <td>@x.Height 米</td>
        <td>@x.Status</td>
        <td>
            <a class="btn btn-small btn-info" href="javascript:editTower('@x.Id')">编辑</a>
            <a class="btn btn-small btn-danger" href="javascript:deleteTower('@x.Id')">删除</a>
        </td>
    </tr>
}
